# Infactory API Key (Get from Infactory Workshop https://workshop.infactory.ai/api-keys)
NF_API_KEY=

# This can be changed for a local or custom deployment
# NF_BASE_URL=https://api.infactory.ai

# Custom Testing Variables
# NF_TEST_DB_CONNECTION_STRING=postgres://postgres:password@0.0.0.0:5432/database
# NF_TEST_DB_TABLE=public.table1
